body{
    padding: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.walking-button{
    margin-bottom: 10px;
}
.timer{
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.working-list{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.working-item{
    display: flex;
    
    margin-bottom: 4px;
}

.working-item div{
    width: 110px;
}